.idea
*.pyc
DATA
tweet_to_edit.csv
__init__.py
done_tweet.csv
error_matrix.xlsx
confusion_matrix.xlsx
output.xlsx
output2.xlsx
tokenisierung-tofix.xlsx
*.xlsx
*.xls
update_da
for_experiments
tweet_id.txt
conll2002-esp.crfsuite
test_hmm_gaus.py
hmm_test.py
